@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.buyResCard{
    width: 998px;
    height: 286px !important;
    background-color: white;
    margin: 20px auto;
    padding: 5px;
    border-radius: 8px;
}

.BuyResidential{
    display: flex;
    font-family: 'outfit';
}

.buyResCard{
    display: flex;
    align-items: center;
}

.heroImg{
    width: 330px;
    height: 285px;
    border-radius: 8px;
}

.adress{
    width: 378px;
    margin: 0;
    font-size: 20.6px;
}

.first{
    display: flex;
    justify-content: space-between;
}

.auction{
    width: 117px;
    height: 35px;
    color: black;
    pointer-events: none;
    border: 1px solid black ;
    border-radius: 21px;
    margin-left: 10px !important;
    background-color: white;
}

.verified{
    background-color: #FF6800;
    width: 78px;
    height: 35px;
    color: white;
    pointer-events: none;
    border: none;
    border-radius: 21px;
    /* margin-left: 10px; */
}

.content{
    margin: 0 10px;
}

.first{
    display: flex;
    margin: 0 0 15px 0;
}

.row{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    /* max-width: 220px; */
    /* border-right: 1px solid black; */
}

.row p{
    margin: 0;
}

.info{
    display: flex;
    margin-top: -7px;
}

.infoFirst, .infoSec{
    /* border-right: 1px solid black; */
    margin-right: 55px;
    font-size: 17px;
}

.row img{
    margin-right: 5px;
}

.row1{
    margin-top: 15px;
}

.infoThird{
    font-size: 17px;
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.link{
    display: flex; /* Make .link a flex container */
    align-items: center; /* Vertically center the content */
    justify-content: center; /* Horizontally center the content */
    background-color: #FF6800;
    width: 161px;
    height: 42px;
    color: white;
    border: none;
    border-radius: 21px;
    margin-left: 10px;
    font-weight: 700;
    text-decoration: none;
}

.filter{
    position: sticky;
    top: 0;
}

.price h6{
    margin: 0;
    display: inline-block;
}

.price h5{
    display: inline-block;
    font-size: 22px;
    font-weight: 700;
}

.price p{
    margin: 0;
    text-align: center;
}

.end img{
    margin-right: 5px ;
}

.content .linee{
    width: 100%;
    height: 1px;
    background-color: black;
}
