.form-wrapperbusiness {
    width: 100%;
    height: 400px;
    margin-left: 20%;
}
.formcontainerbusiness {
    margin-top: 20%;
    transform: translate(-50%, -40%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 45%;
}
.inlinesectionformbusiness {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 2%;
}
.inlinesectionformbusiness label {
    color: rgba(61, 61, 61, 0.5);
}
.inputdetbusiness {
    flex: 1;
    margin: 4%;
}
.inputdetbusiness input {
    margin-left: 20%;
    width: 100%;
    background: #F2F2F2;
     
    border: 1px solid rgba(61, 61, 61, 0.5);
    color: rgba(61, 61, 61, 0.5);;
    border-radius: 8px;
    padding: 10px;
}
.phone-inputbusiness {
    margin-top: 15px;
    margin-left: 13%;
}
.phone-input-container {
    margin-left: 0;
    width: 70%;
    background: #F2F2F2;
    border: 1px solid rgba(61, 61, 61, 0.5);
    color: rgba(61, 61, 61, 0.5);
    border-radius: 8px;
    padding: 10px;
}
#querycolbusiness{
    width: 240%;
}
#regaddbusiness {
    width: 240%;
}
.submitbusiness {
    position: absolute;
    top: 90%;
    left: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 44px;
    background: #FF6800;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}
#firstsection
{
    width: 148%;
}
.Buisnessfirst
{
    margin-right: 15%;
}
#comapanybusiness
{
    margin-left: 4%;
}
#companyaddbusiness
{
    margin-left: 4%;
}
#emailidbusiness
{
    margin-right: 28%;
}
#mobnobusiness
{
    color: rgba(61, 61, 61, 0.5);
    margin-right: 82%;
}