.headercontpartnership
{
    display: flex;
    justify-content: space-between;
}
.leftaltext {
    margin-left: 6%;
    margin-top: 6%;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    text-transform: capitalize;
}
.rightaltext {
    margin-right: 5%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #FF6800;
}

.mainpartner {
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    width: 90%;
    height: 100%;
    left: 5%;
    top: 15%;
    background: #F2F2F2;
    border-radius: 15px;
}