.thirdheaderrentalagg {
    margin-left: 30%;
    margin-bottom: 4%;
    width: 545px;
    height: 48px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 41px;
    line-height: 50px;

    color: #FF6800;
}


.subheadheader3 {
   
   
    height: 48px;
    left: 28%;
    top: 1580px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;

    color: #000000;
}
.faq-container {
    display: flex;
    flex-direction: column;
    gap: 15px; 
    align-items: center; 
}