.leftalignsignup {
    margin-left: 5%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #FFFFFF;

}

.headersignup {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rightalignsignup {
    margin-right: 5%;
    font-family: 'Outfit';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #FF6800;
}

body {
    background: #3D3D3D;
}