.Header2{
    height: 108px;
    background-color: #3D3D3D;
    align-items: center;
    display: flex;
    justify-content:flex-end
}

select#tender, select#properties{
    border: none;
    background-color: #3D3D3D;
    color: white;
    font-weight: 600;
    margin: 0 20px;
}

.login{
    background-color: rgb(0, 0, 0);
    width: 122px;
    height: 48px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin: 0 20px;
}

.login:hover{
    background-color: rgb(0, 0, 0, 0.4);
    transition: ease 0.5s;
}

.reg{
    background-color: #FF6800;
    width: 122px;
    height: 48px;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    margin: 0 20px;
}

.reg:hover{
    background-color: rgb(0, 0, 0, 0.4);
    transition: ease 0.5s;
}

.line{
    border-left: 2px solid rgb(255, 255, 255, 0.29);
    height: 44px;
}