.form-wrapper {
    
    width: 100%;
    height: 350px;
    margin-left: 20%;
}

.formcontainer {
    margin-top: 20%;
    transform: translate(-50%, -40%);
    display: flex;
    flex-direction: column;
    width: 45%;
}

.inlinesectionform {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 3.3%;
}
.inlinesectionform label {
    color: rgba(61, 61, 61, 0.5);
}

.inputdet {
    flex: 1;
    margin: 4%;
}

.inputdet input {
    margin-left: 20%;
    width: 100%;
    background: #F2F2F2;
     
    border: 1px solid rgba(61, 61, 61, 0.5);
    color: rgba(61, 61, 61, 0.5);;
    border-radius: 8px;
    padding: 10px;
}

.phone-input {
    margin-top: 15px;
    margin-left: 13%;
}

.phone-input-container {
    margin-left: 0;
    width: 70%;
    background: #F2F2F2;
    border: 1px solid rgba(61, 61, 61, 0.5);
    color: rgba(61, 61, 61, 0.5);
    border-radius: 8px;
    padding: 10px;
}

#querycol {
    width: 220%;
}

#regadd {
    width: 220%;
}
.submitpersonal {
    position: absolute;
    top: 90%;
    left: 110%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 44px;
    background: #FF6800;
    border-radius: 8px;
    cursor: pointer;
    color: white;
}
.infoformfirst
{
    margin-right: 20%;
}
#reegaddinfoform
{
    margin-left: 20%;
    width: 70%;
}
#emailidaddinfoform
{
    margin-right: 27%;
}
#phoneinfoform
{
    color: rgba(61, 61, 61, 0.5);
    margin-right: 82%;
}