body
{
    background-color: #FFFFFF;
}
.mainsectioncont {
   
    width: 90%;
    height: 710px;
    margin-top: 5%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
    background: #000000;
    border-radius: 25px;
    display: flex;
}
.labelpropmanag
{
    color: #000000;
}
.Formcontainerpropmang {
    position: absolute;
    width: 442px;
    height: 652px;
    left: 100px;
    top: 191px;
    background: #FFFFFF;
    border-radius: 25px;
}

.inlinesectionformpropmang {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 25px;

    position: absolute;
    width: 316px;
    height: 588px;
    top: 37px;
}

.inputdetrentnowpropmang {
    width: 316px;
    height: 53px;
    flex: none;
    order: 0;
    align-self: stretch;
    flex-grow: 0;
    margin-left: 15%;
}

.inputdetrentnowpropmang input {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px;
    gap: 6px;

    width: 313px;
    height: 29px;

    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;
}

.maincontpropmanag {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 45px;

    position: absolute;
    width: 410px;
    height: 275px;
    left: 595px;
    top: 323px;
    color: white;
}

.imagepropmanag {

    position: absolute;
    width: 199px;
    height: 556px;
    left: 1000px;
    top: 276px;
}

.propmanagcontheader {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 1;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.propmanagcontent {
    font-family: 'Outfit', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: -0.03em;
    text-transform: capitalize;
}

.buttoncontainerpropmanag {
    display: flex;
}

.buttonspropmanag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    margin-right: 5px;
    margin-top: 7px;
    color: white;
    width: 20.8px;
    height: 8px;
    cursor: pointer;
    background: #FF6800;
    border-radius: 8px;

    flex: none;
    order: 0;
    flex-grow: 1;
}
.submitpropmanag {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 20px;
    gap: 10px;
    width: 296px;
    height: 8px;
    color: white;
    margin-left: 40px;
    background: #FF6800;
    border-radius: 8px;
    flex: none;
    order: 7;
    flex-grow: 0;
}