.Partner{
    width: 1100px;
    height: 400px;
    background-color: #3d3d3d;
    margin: 50px auto;
    border-radius: 10px;
    padding: 40px 35px;
    display: flex;
    justify-content: space-between;
    text-align: left;
}

.contt{
    width: 650px;
}

.contt h1{
    font-size: 50px;
    margin: 0;
}

.contt p{
    margin: 40px 0;
    font-weight: 600;
    color: white;
}

.Partner button{
    width: 104px;
    height: 41px;
    border: none;
    border-radius: 8px;
    background-color: #FF6800;
}

.sitee{
    color: #FF6800;
    font-size: 50px;
    font-family: 'Outfit';
    margin: 0;
}

.headd{
    color: white;
}