.formselection {
    width: 232.87px;
    height: 32.02px;
    background: #D9D9D9;
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin: 10px;
    line-height: 100%;
    display: flex;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #FFFFFF;
    border-radius: 10px;
    padding-top: 2%;
}
.formlabelpartnership
{
    color: rgba(61, 61, 61, 0.5);
    margin: 0px;
    margin-bottom: 3%;
}
.formoption {
   
    display: flex;
    z-index: 1;/*because position absolute krnae sae button dispose ho jata tha z index 1 krkae unko upar lae*/
    width: 727.14px;
    height: 45px;
    margin-left: 15px;
}
.inputform
{
    margin-right: 10px;
    padding-left: 20%;
    margin-left: 5%;
}

body
{
    background-color: black;
}