.formselection {
    width: 232.87px;
    height: 32.02px;
    background-color: rgba(88, 87, 90, 0.933333);
    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    margin: 10px;
    line-height: 100%;
    display: flex;
    align-items: center;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #FFFFFF;
    border-radius: 10px;
    padding-top: 2%;
}
.formoption {
   
    display: flex;
    z-index: 1;/*because position absolute krnae sae button dispose ho jata tha z index 1 krkae unko upar lae*/
    width: 727.14px;
    height: 45px;
    margin-left: 15px;
}
.inputform
{
    margin-right: 10px;
    color: red;
}

