.BuyResidential{
    display: flex;
}

.cards{
    margin: auto;
}

.auction{
    display: none !important;
}

.adress{
    width: 458px !important;
}

.first{
    display: none !important;
}

.auction{
    display: none !important;
}

.adress{
    width: 458px !important;
}

.hide{
    display: none;
}

.bids{
    margin-top: 10px;
}