.BuyResidential{
    display: flex;
}

.cards{
    margin: auto;
    width: 73%;
}

.first{
    display: none !important;
}

.auction{
    display: none !important;
}

.adress{
    width: 458px !important;
}

.hide{
    display: none;
}