@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.ownerDetails{
    padding: 35px 65px;
    font-family: 'Outfit';
    background-color: white;
}

.auction{
    width: 151px;
    height: 35px;
    color: black;
    pointer-events: none;
    border: 1px solid black ;
    border-radius: 21px;
    background-color: white;
}

.address{
    margin: 30px 0;
}

.heroImg{
    width: 715px;
    height: 423px;
    border-radius: 25px;
}

.firstCont{
    display: flex;
}


.line{
    display: flex;
    justify-content: space-between;
    width: 456px;
}

.line p{
    margin: 0;
}

.linee{
    width: 456px;
    border-top: 1px solid black;
    margin: 15px 0;
}

.buttons button{
    background-color: #FF6800;
    width: 189px;
    height: 49px;
    color: white;
    border: none;
    border-radius: 8px;
    font-weight: 500;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.heading{
    color: #FF6800;
    margin: 50px 0;
}

.infoFirst, .infoSec{
    /* border-right: 1px solid black; */
    margin-right: 55px;
    font-size: 17px;
}

.row img{
    margin-right: 5px;
}

.infoThird{
    font-size: 17px;
    margin-right: 110px;
}

.flexCont{
    display: flex;
}

.row{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.row p{
    margin: 0;
}


.secondCont{
    display: flex;
}

.row1{
    margin-top: 50px;
}

.linee1{
    border-left: 1px solid black;
    height: 300px;
    margin: 110px 120px 0 50px;
}

.row span{
    font-weight: 700;
}

.rowHead{
    color: gray;
    font-size: 20px;
}

.box{
    text-align: center;
}

.box p{
    width: 208px;
    display: flex;
    justify-content: space-between;
}

.thirdCont .flexCont{
    justify-content: space-between;
}

.thirdCont .heading{
    margin: 50px 0;
}

.box img{
    margin-bottom: 20px;
}

.fourthCont .linee1{
    margin: 0 20px;
    height: 420px;
}

.fourthCont .flexCont{
    align-items: center;
}

.fourthCont img{
    width: 540px;
    height: 400px;
}

.fifthCont .box{
    display: block;
    margin: auto;
}

.box1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.box1 img{
    display: block;
    margin: auto;
}

.fifthCont .flexCont{
    justify-content: space-between;
}

.sixthCont p{
    margin: 0 0 40px 0;
}

.content p{
    margin: 0;
}

.content{
    background-color: #D9D9D9;
    padding: 10px 15px;
    border-radius: 10px;
    margin-top: 40px;
}

.timer{
    width: 497px !important;
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 6px 3px -1px rgba(0, 0, 0, 0.25);
    padding: 10px;
}

.timer span{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    /* box-shadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.35);    */
    width: 91px;
    height: 72px;    
}

.content1 p{
    margin: 0;
}

.content1 .flexCont{
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
}

.content1 .flexCont span{
    font-size: 18px;
}

.content1{
    margin-left: 30px;
    margin-top: 120px;
}

.content1 .linee{
    width: 507px;
    color: #D9D9D9;
}

.content3 input[type='number']::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.content3{
    margin-top: 50px;
}

.content3 input{
    width: 264px;
    height: 53px;
    /* text-indent: 132px; */
    text-align: center;
}

.cont3Img1, .cont3Img2{
    position: relative;
}

.cont3Img2{
    right: 260px;
    background: none;
}

.cont3Img1{
    right: 27px;
    background: none;
}

.content3 button{
    border: none;
    padding: 0;
    margin: 0;
}

.paras{
    margin: 50px 0;
}

.buttons1{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.buttons1 button{
    width: 138px;
    height: 43px;
    border: none;
    background-color: #FF6800;
    box-shadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.35);   
}

.bid{
    width: 71px;
    height: 53px;
    border: none;
    background-color: #FF6800;
    box-shadow: 4px 4px 3px -1px rgba(0, 0, 0, 0.35);    
}

.money{
    margin: 0;
    font-size: 23px;
    font-weight: 900;
}