.carousel-item-padding-40-px {
    padding: 0 0px;
}

.cardset {
    margin: 0 auto;
    padding-bottom: 2%;
}

.card {
    background: #fff;
    border: 1px solid #ccc;
    margin-top: 10%;
    margin-bottom: 2%;
    margin-left: 10%;
    border-radius: 10px;
    padding: 7%;
    width: 70%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.reviewcontent {
    font-size: 16px;
    line-height: 1.5;
    color: #333;
    padding-top: 25%;
    margin-top: 20%;
}

.customerreview {
    position: absolute;
    left: 35%;
    right: 20%;
    top: 0%;
    bottom: 0%;
    height: 27%;
    width: 42%;
    border-radius: 100%;
}